# files
.idea
.env
docker-compose.override.yml

# php
/php/config.php.ini
/php/php.ini
/php/.bash_history

# dirs
db/

# nginx
/nginx/sites-enabled/*
!/nginx/sites-enabled/default.conf

# certs
/certs/*
!/certs/create-cert.sh
!/certs/README.md
