# files
/.idea
/.env
/docker-compose.override.yml

# dirs
/db/

# tmp
/_tmp/*
!/_tmp/.gitkeep

# php
/php/config.php.ini
/php/php.ini

# nginx
/nginx/sites-enabled/*
!/nginx/sites-enabled/default.conf

# certs
/certs/*
!/certs/create-cert.sh
!/certs/README.md
